.rounded-element {
    border-radius: 20px;
}

.start-video {
    width: 50%;
    display: inline-block;
}

.box-shadow-element {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(181,181,199,1);
    -moz-box-shadow: 0px 0px 3px 3px rgba(181,181,199,1);
    box-shadow: 0px 0px 3px 3px rgba(181,181,199,1);
    border-top: 3px solid rgb(0,42,91);
    background-color: #ffffff;
}

.ega-league-header {
    background-color: rgb(0,42,91);
    color: rgb(164,176,190);
}

.match-week-header {
    border-bottom: 1px solid #edeef0;
}