.logo-home {
    height:70px;
}

.navigation-fixed {
    height: 96px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.navigation-empty {
    height: 96px;
}

.header-nav {
    background-color: #fff;
}

.header-nav .header-links {
    background-color: #4a76a8;
}

.header-links a {
    font-weight: bold;
    color: white !important;
}

@media (min-width:961px) {
    header .register {
        margin-left: auto;
    }
    header .navbar-nav {
        width: 100%;
    }
}