.box-shadow-element-no-border {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(181,181,199,1);
    -moz-box-shadow: 0px 0px 3px 3px rgba(181,181,199,1);
    box-shadow: 0px 0px 3px 3px rgba(181,181,199,1);
    background-color: #ffffff;
}

.signing-main-title {
    font-size: 30px;
    color: #fff;
}

.signing-child-titles {
    color: #fff;
}

.signing-child-titles h6 {
    margin-top: 0.5rem;
}