html, body, #root, .app {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #edeef0 !important;
    overflow: auto;
}

.rounded-circle {
    border-radius: 20px;
}

.content {
    flex: 1;
}

.theme-blue {
    background-color: rgb(0,42,91);
}

.theme-white {
    background-color: #fff;
}