header .logo-home {
    height:70px;
}

header .navigation-fixed {
    height: 96px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

header .navigation-empty {
    height: 96px;
}

header .header-nav {
    background-color: #fff;
}

header .header-links {
    border-radius: 10px;
    text-align: center;
}

header .header-nav .header-links {
    background-color: rgb(0,42,91);
}

header .header-links a {
    font-weight: bold;
    color: rgb(164,176,190) !important;
}

@media (min-width:961px) {
    header .register {
        margin-left: auto;
    }
    header .navbar-nav {
        width: 100%;
    }
}