.signing-containers {
    background-color: #fff;
}

.signing-containers button {
    font-size: 0.875rem;
}

.signing-containers a {
    font-size: 0.8rem;
}

.signing-containers li {
    font-size: 0.875rem;
}

.signing-containers p {
    font-size: 0.875rem;
}
